.services {
    background-color: var(--body-color);
    &__container {
        margin-top: 1rem;
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
        grid-gap: 2rem;
    }
    &__content {
        position: relative;
        background-color: var(--container-color);
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        padding: 6rem 0 2rem 2.5rem;
        margin-top: 2rem;

    }
    &__icon {
        display: block;
        font-size: 1.5rem;
        color: var(--text-color);
        margin-bottom: 1rem;
    }
    &__title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1rem;
        line-height: 1.2;
        color: var(--title-color);
    }
    &__button{
        font-family: "Fira Code", monospace;
        font-size: .8rem;
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        cursor: pointer;
        color: var(--text-color);
        &:hover {
            color: var(--primary-color);
        }
        &-icon{
            font-size: 1rem;
            transition: .3s;
            &:hover {
                transform: translateX(.25rem);
            }
        }
    }
    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        opacity: 0;
        visibility: hidden;
        color: var(--title-color);
        transition: .3s;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: .70;
        &-content{
            width: 500px;
            background-color: var(--container-color);
            position: relative;
            padding: 4.5rem 2.5rem 2.5rem;
            border-radius: 1.5rem;
        }
        &-close{
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            font-size: 1.5rem;
            cursor: pointer;
            transition: .3s;
            &:hover {
                transform: scale(1.1);
                color: var(--primary-color);
            }
        }
        &-title,
        &-description{
            text-align: center;
        }
        &-title{
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }
        &-description{
            font-family: "Inter", sans-serif;
            font-size: .875rem;
            padding: 0 1rem;
            margin-bottom: 1rem;
            line-height: 1.4;
        }
        &-services {
            display: flex;
            flex-direction: column;
            row-gap: .75rem;
        }
        &-service {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        &-icon {
            font-size: 1rem;
        }
        &-info{
            font-family: "Inter", sans-serif;
            font-size: .875rem;
            line-height: 1.4;
        }
    
    }
}
/* Active Modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}
/* Light */
.light-theme {
    .services{
        &__content {
            border: none;
        }
        &__title {
            color: var(--text-color);
        }
        &__modal {
            border: none;
            color: var(--text-color);
            background-color: var(--primary-color);
            &-content{
                background-color: var(--body-color);
            }
        }
    }
}

/* BREAKPOINTS */
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .services{
        &__container{
            grid-template-columns: repeat(2, 1fr);
        }
        &__content {
            padding: 3.5rem 0.5rem 1.25rem 1.5rem;
        }
    }
    
  }
  
  @media screen and (max-width: 576px) {
    .services{
        &__container{
            grid-template-columns: repeat(1, 1fr);
        }
        &__content {
            width: 300px;
            padding: 1rem 1rem;
        }
        &__modal {
            &-content{
                padding: 4.5rem 1.5rem 2.5rem;
            }
            &-description{
                padding: 0;
            }
        }
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .services{
        &__content {
            width: 250px;
        }
    }
    
  }
  