.social {
    width: 2rem;
    position: fixed;
    bottom: 0px;
    left: 2rem;
    right: auto;
    z-index: 10;
    cursor: pointer;
    &__items{
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style: none;
        gap: 1rem;
        font-size: 1.2rem;
        &::after{
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0px auto;
            background-color: var(--border-color);
        }
    }
    &__icon {
        color: var(--border-color);
        &:hover{
            color: #C3A2BF;
            ;
            
        }
    }
    &__email{
        position: fixed;
        bottom: 0px;
        right: 6rem;
        left: auto;
        z-index: 10;
        cursor: pointer;
        gap: 1rem;
        &:after{
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0px auto;
            background-color: var(--border-color);
        }
        &-item {
            color: var(--border-color);
            text-decoration: none;
            writing-mode: vertical-rl;
            font-family: "Fira Code", monospace;
            font-size: .8rem;
            margin-bottom: 1rem;
            &:hover{
                color: #C3A2BF;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .social {
        left: 1rem;
        &__items{
            font-size: 1rem;
        }
        &__email{
            right: 2.6rem;
        }
        
    }
}
@media screen and (max-width: 576px){
    .social {
        display: none;
    }
}