.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    color: var(--title-color);
}
.nav {
    height: calc(3rem + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    &__logo,
    &__toggle {
        color: var(--title-color);
        font-weight: 500;
    }
    &__list {
        display: flex;
        column-gap: 2rem;
    }
    &__items {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .8rem;
        font-family: 'Fira Code', monospace;
        font-weight: 400;
        transition: .3s;
        color: var(--title-color);
        gap: 10px;
    }
    &__close,
    &__icon,
    &__toggle {
        display: none;
    }
    &__btns {
        display: flex;
        column-gap: 40px;
        align-items: center;
    }

}
.theme__toggler {
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
/* Active link */
.active-link,
.nav__link:hover {
    background-color: var(--primary-color);
    padding: .5rem .5rem;
    border-radius: 0.5rem;
}
/* Change background header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
  /* BREAKPOINTS */
  @media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }
    .nav {
        height: 3rem;
        &__menu {
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            padding: 2rem 1.5rem 4rem;
            background-color: var(--body-color);
            box-shadow: 0 1px 4px var(--text-color);
            border-radius: 1.5rem 1.5rem 0 0;
            transition: .3s;
        }
        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
        &__icon{
            font-size: 1.2rem;
        }
        &__close {
            position: absolute;
            right: 1.3rem;
            bottom: .5rem;
            font-size: 1.5rem;
            cursor: pointer;
            &:hover {
                color: var(--primary-color);
            }
        }
        &__items {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-right: 2rem;
        }
        &__toggle{
            font-size: 1.2rem;
            cursor: pointer;
        }
        &__icon,
        &__toggle,
        &__close {
            display: block;
        }
    }
    /* Show menu */
    .show-menu {
        bottom: 0;
    }
  }
  /* Light theme */
  .light-theme{
    .header {
        color: var(--text-color);
    }
    .nav{
        &__logo,
        &__toggle {
            color: var(--text-color);
        }
        &__link {
            color: var(--text-color);
        }
        &__icon {
            color: var(--text-color);
        }
        &__close {
            color: var(--text-color);
        }
        


    }
  }
  @media screen and (max-width: 350px) {
    .nav {
        &__menu {
            padding: 2rem .25rem 4rem;
        }
        &__list {
            column-gap: 0;
        }
    }
  }